<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sentiment analysis online tool">
    <meta name="author" content="Tigran Papyan">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Sentiment Analysis Online Tool</title>
</head>
<body>

<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">
                        <img src="../assets/images/logo.png" alt="Chain App Dev">
                    </a>
                    <ul class="nav">
                        <li>
                            <div class="gradient-button"><a id="modal_trigger" href="login.html" target="_blank"><i
                                    class="get_started"></i> Get Started</a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                             data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Sentiment Analyzer</h2>
                                    <p>Use sentiment analysis to quickly detect emotions in text data.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="../assets/images/sentiment_analysis.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="base-module--greyBg--OEilc">
    <div class="demoModel-module--container--ZxerW base-module--container--OvaO8">
        <div class="demoModel-module--content--HMyWk"><p class="demoModel-module--subtitle--A64+y">Play around with
            sentiment analyzer, below:</p>
            <div class="EmbedModel-module--embedContainer--vUvTn">
                <div class="EmbedModel-module--subElem--9qu8K"><h3 class="EmbedModel-module--title--opPUF">Test with
                    your own text</h3>
                    <form>
                        <label for="send_message"></label><textarea id="send_message"></textarea>
                        <button id="buttonClassify" type="button-classify">Classify Text</button>
                    </form>
                </div>
                <div class="EmbedModel-module--subElem--9qu8K"><h3 class="EmbedModel-module--title--opPUF">Results</h3>
                    <div class="EmbedModel-module--headerRow--2MsYn EmbedModel-module--classifierTable--LRwQ0">
                        <span>Tag</span><span>Confidence</span></div>
                    <div class="EmbedModel-module--resultContainer--wZ6p0">
                        <div id="new-content-data"
                             class="EmbedModel-module--resultRow--SZpn2 EmbedModel-module--classifierTable--LRwQ0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/main.js"></script>
</body>
</html>